@import url("../../vinur/stylesheets/application.css");

/*---------- Header ----------*/
#masthead h1 a,
#masthead h1 a:link {
	display:block;
    padding:0 0 0 40px;
 	background:url("../images/wp-hooked.png") 0 0 transparent no-repeat;
}
#masthead h2 {
	color: #298cba;
	margin:0 0 0 125px;
}

/*---------- Post: header----------*/
h1.entry-title,
h1.page-title {
	font-family: "quatro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer.entry-meta {
	line-height:1.385em;
}

/*---------- Navigation ----------*/
.main-navigation li {
	font-size:2.0em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
}

.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a,
.page-template-page-ideas-php .main-navigation li#menu-item-15 a,
.page-template-page-submit-idea-php .main-navigation li#menu-item-12 a,
.page-template-page-ideas-archive-php .main-navigation li#menu-item-11 a {
	color:#000;
}


/*---------- pfs-alert ----------*/
#pfs-alert {
  padding: 8px 14px;
  font-size:1.4em;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#pfs-alert p {margin:0;}

#pfs-alert.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#pfs-alert.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}


/*----------------------------------------
  @ min-width: 600px
----------------------------------------*/

@media screen and (min-width: 600px) {

    /*---------- Post: vote ----------*/
	.entry-vote {
		border-top:1px solid #ccc;
		padding:10px 0 0 0;
	}

	.entry-vote h2 {
		font-size:1.8em;
		font-family: "quatro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height:1.5em;
	}

	.entry-vote .thumbs-up .wpv_votewidget {
		font-size:1.250em;
		margin:10px 0 20px 0;
		display:block;
	}

	.entry-vote .wpv_votebtn_txt {
		color:#000 !important;
		margin:0;
	}

	.entry-vote .wpv_vote_icon,
	.entry-vote .wpv_voted_icon {
		background-image:none !important;
		font-family: 'FontAwesome';
		font-size:1.2em; /*18px*/
	}
	.entry-vote .wpv_vote_icon:before,
	.entry-vote .wpv_voted_icon:before  {
		content: "\f087";
		line-height:;
	}
	.entry-vote .wpv_vote_icon,
	.entry-vote .wpv_vote_icon:before {
		color:#298cba;
	}
	.entry-vote .wpv_voted_icon,
	.entry-vote .wpv_voted_icon:before {
		color:#000;
	}

	/*---------- Post: meta ----------*/

	.entry-meta {
		margin: 0;
		padding: 0;
		font-size: 1.4em;
		color: #999;
	}

	.entry-meta .thumbs-up {
		margin:0 0 15px 0;
		display:block;
		background-color:#ebf2f5;
		border:1px solid #2c9bcd;
		color:#000;
		padding:5px 1.51515152%; /*10px*/
	}

	.entry-meta .wpv_postvote {
		margin:0;
	}

	.entry-meta .wpv_votewidget {
		font-size:1.083em;

	}
	.entry-meta .wpv_votebtn_txt {
		margin:0;
		color:#000 !important;
	}

	.entry-meta .wpv_vote_icon,
	.entry-meta .wpv_voted_icon {
		background-image:none !important;
		font-family: 'FontAwesome';
		font-size:1.385em; /*18px*/
	}
	.entry-meta .wpv_vote_icon:before,
	.entry-meta .wpv_voted_icon:before  {
		content: "\f087";
		line-height:1em;
	}
	.entry-meta .wpv_vote_icon,
	.entry-meta .wpv_vote_icon:before {
		color:#298cba;
	}
	.entry-meta .wpv_voted_icon,
	.entry-meta .wpv_voted_icon:before {
		color:#000;
	}

	#sidebar aside.widget_ideas_widget div.widget-box p {font-size: 1.3em; clear: both; padding: 20px 0;}
	#sidebar aside.widget_ideas_widget div.widget-box ul {float: left; margin: 10px 0 0 0;}
	#sidebar aside.widget_ideas_widget div.widget-box ul li {
		float: left;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		font-size: 1.3em;
		line-height: 1.462em; /*19px*/
		color: #333;
		border-bottom:1px solid #ccc;
	}
	#sidebar aside.widget_ideas_widget div.widget-box ul li a {font-size: 1em; color: #1985B5;}
	#sidebar aside.widget_ideas_widget div.widget-box ul li .date {color: #666;font-size:0.857em;}
	#sidebar aside.widget_ideas_widget div.widget-box ul li .thumbs-up .wpv_postvote {
		display:inline;
	}
	#sidebar aside.widget_ideas_widget div.widget-box ul li .thumbs-up .wpv_postvote .wpv_votebtncon {
		display:none;
	}
}


/*----------------------------------------
  @ min-width: 1200px
----------------------------------------*/

@media screen and (min-width: 980px) {

    /*---------- Sidebar: Votes ----------*/

	#sidebar aside.widget_ideas_widget div.widget-box p {font-size: 1.3em; clear: both; padding: 20px 0;}
	#sidebar aside.widget_ideas_widget div.widget-box ul,
	#sidebar aside.widget_recent_comments ul#recentcomments {float: left; margin: 10px 0 0 0;}
	#sidebar aside.widget_ideas_widget div.widget-box ul li,
	#sidebar aside.widget_recent_comments ul#recentcomments li {
		float: left;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		font-size: 1.3em;
		line-height: 1.462em; /*19px*/
		color: #333;
		border-bottom:1px solid #ccc;
	}
	#sidebar aside.widget_ideas_widget div.widget-box ul li a,
	#sidebar aside.widget_recent_comments ul#recentcomments li a {font-size: 1em; color: #1985B5;}
	#sidebar aside.widget_ideas_widget div.widget-box ul li .date {color: #666;font-size:0.857em;}
	#sidebar aside.widget_ideas_widget div.widget-box ul li .thumbs-up .wpv_postvote {
		display:inline;
	}
	#sidebar aside.widget_ideas_widget div.widget-box ul li .thumbs-up .wpv_postvote .wpv_votebtncon {
		display:none;
	}
	/*---------- Submit ----------*/
	#submit input[type=text],
	#submit input.input-text {
		width:400px;
	}

}
